<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acount">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sysset"></activity>
        <activity android:name=".Showinfo" />
        <activity android:name=".Outaccountinfo" />
        <activity android:name=".Login" />
        <activity android:name=".InfoManage" />
        <activity android:name=".Inaccountinfo" />
        <activity android:name=".FlagManage" />
        <activity android:name=".AddOutaccount" />
        <activity android:name=".AddInaccount" />
        <activity android:name=".Accountflag" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>